body {
position: relative;
  font-size: 12px;
  display: block;
  box-sizing: border-box;
}



/*this is the body wrapper*/
body #wrap {
  position: relative;
  display: block;
  width: 55%;
  min-width: 500px;
  margin: 0 auto;
  background: white;
  min-height: 500px;
  top: 95px;
  border: 5px solid red;
  border-radius: 4px;
  overflow: hiddenh;



}


#name{
  position: absolute;
  font-family: Lobster;
  font-size: 75px;
  top: 10px;
  width: 100%;
  height: 80px;
  border: 1px solid blue;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

#subtitle{
  position: absolute;
  font-family: Lobster;
  font-size: 25px;
  top: 120px;
  width: 100%;
  height: 30px;
  border: 1px solid blue;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: white;
}



/*this is the query box*/
#query{
  position: absolute;
  top: 200px;
  left: 120px;
}


#search-button{
  position: absolute;
  top: 200px;
  left: 275px;
}


#reset-button{
  position: absolute;
  top: 200px;
  left: 350px;
}





/*This is where the search results pop up in the html*/
#search-results{
position: absolute;
margin: 0 auto;
  border: 1px solid red;
  width: 65%;
 height: 200px;
 top:240px;
 left: 17%;


}

 #footerbox{
  position: absolute;
  display: block;
  width: 100%;
  min-width: 500px;
  margin: 0 auto;
  background: black;
  min-height: 30px;
  top: 475px;

 }

 #Madeby{

  position: absolute;
  width: 100%;
  min-width: 500px;
  margin: 0 auto;
  min-height: 30px;
  top: 480px;
  color: white;
  text-align: center;
  font-size: 16px;
 }